.Book {
  width: 100%;
  text-align: center;
  background-color: #d6d3d1;
  border-radius: 0.5rem;
}

.Book img {
  margin-top: 1rem;
  box-shadow: 0 1px 5px #00000099;
  transition-duration: 300ms;
  transition-property: box-shadow;
}

.Book img:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.Book a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}
